<%= form_for [project, Comment.new], url: proyect_comments_path(project) do |f| %>
  <div class="cont">
    <div class="field">
      <%= f.label :comment_text %>
    </div>
    <div>
      <%= f.text_area :comment_text, required: true %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
