<div class="centered">
  <div class="comment-box">
    <div class="card-content">
      <div><%= link_to comment.user.username, comment.user%></div>
      <div><%= comment.comment_text %></div>
    </div>
  </div>
</div>