// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.category-link{
    color: white;
    background-color: #bccad6;
}

.category-link:hover{
    background-color: #bccad6;
    color: white;
}

