

body {
  font-family:Helvetica,Arial,Verdana,sans-serif;
  }

.centered {
  margin: 0 auto;
  padding: 0 1em;
}

.comment-box {
  margin-bottom: 0.5em;
}

.comment-box .card-content {
  font-size: 100%;
  color: black;
}

.card a {
  text-decoration: none;
}

.new_comment{
  display: flex;
  flex-direction: row;
}

.comments-stream{
  border-radius: 10px ;
  box-shadow: 6px 6px 9px hsl(0, 0%, 70%);
  background-color: #f1e3dd;
}

