// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {font-family:Helvetica,Arial,Verdana,sans-serif;}

.centered {
  margin: 0 auto;
  padding: 0 1em;
}

.comment-box {
  margin-bottom: 0.5em;
}

.comment-box .card-content {
  font-size: 100%;
  color: black;
}

.card a {
  text-decoration: none;
}

