
.nav-bar {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    background-color: #8d9db6;
    overflow: hidden;
    display: inline-flex;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 50px;
    overflow: scroll;
    border:  1px solid #bbb;
}
.list {
    display: inline;
    border-right: 1px solid #bbb;
}
.bar-button {
    display: block;
    padding: 8px;
    background-color:#8d9db6;
}

.list .bar-button {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #484f4f;
}

#dolphinnav #search-container #search-button{
  float: right;
  color:#1D6893;
}

#dolphinnav #search-container #search-text{
  float: right;
  width: 15%;
}


#dolphinnav ul li a span{
  padding:12px 20px 0 0;
  height:21px;
  float:left;
}  

.list .bar-button:hover {
    background-color: #bccad6;
    color: white;
    height: 50px;
}

.list .bar-button a:active{ // Esto no funciiona
  background: green;
}

