

.new_user{
    align-content: center;
    text-align: left;
    padding-left: 40%;
}

.field{
    display: flex;
    flex-direction: column;
    padding: 2%;  
    justify-content: space-between;
    white-space: nowrap;
}

.cont{
    display: flex;
}

label{
    margin-top: 10px;
    margin-right: 50px;
    color:#484f4f;
    font-size: 15px;
}

input{
    margin-top: 10px;
    margin-left: 50px;
    
    font-size: 15px;
    border-radius: 5px ;
    // background-color: #8d9db6;
    // color: black;
}






