

.new_user{
    align-content: center;
    text-align: left;
}

.field{
    display: flex;
    flex-direction: column;
    padding: 2%;  
    justify-content: space-between;
    white-space: nowrap;
}

.field_with_errors{
    background-color: #f1e3dd;
}

.cont{
    display: flex;
}

label{
    margin-top: 10px;
    color:#484f4f;
    font-size: 15px;
}

input{
    margin-top: 10px;
    margin-left: 50px;
    
    font-size: 15px;
    border-radius: 5px ;
    // background-color: #8d9db6;
    // color: black;
}

.notice{
    color: #667292;
    font-size: 20px;
    margin: 2%;
    top: 0%;
    position: relative;
}

.user-info{
    margin: 2%;
    top: 0%;
    position: relative;
}






