
h1{
    text-align: center;
}
h3{
    text-align: center;
    font-size:90px;
    padding: 0%;
    margin: 0% 0% 0% 0%;
    top: 100px;
    position: relative;
    color: #484f4f;
}

.welcome-p{
    position: relative;
    top: 200px;
    color: grey;
    font-size: 20px; 
}

.welcome{
    width: 300px;
    height: 50px;
    font-size: 20px;
    margin: 5%;
    background-color: #bccad6;
    color: grey;
}

.welcome-btns{
    display: flex;
    padding-left: 20%;
    position: relative;
    top: 250px;
}

.welcome-text:hover {
    background-color: #bccad6;
    color: white;
    height: 50px;
}